
html,
body {
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}







.blackwhite{
  background: linear-gradient(129.6deg, rgb(47, 47, 47) 1.2%, rgba(29, 29, 29, 0.31) 98.9%);
}

.blackwhite2{
  background: linear-gradient(129.6deg, rgba(43, 43, 43, 0.562) 1.2%, rgba(26, 26, 26, 0.31) 98.9%);
}

.blackwhite3{
  background: linear-gradient(129.6deg, rgb(31,31,31) 1.2%, rgb(0, 0, 0) 98.9%);
}